html{
    height: 100%;
    padding: 0;
    margin: 0px;
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
body{
    height: 100%;
    display: flex;
    
}
.secciones{
    flex-grow: 1;
}

.parte1{
    height: 100%;
    flex-basis: 30%;
    border-style:solid;
}
.parte2{
    height: 100%;
    flex-basis: 40%;
    border-style:solid;
    background-color: rgb(219, 205, 214);
}
.parte3{
    height: 100%;
    flex-basis: 30%;
    border-style:solid;
}



/*Seccion 1*/
.seccionesIzquierda{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.parte1secciones{
    flex-grow: 1;
}
.logoPrincipal{
    width: 200px;
}

.logoBaseUser{
    width: 100px;
}
.logop1{
    flex-basis: 20%;
    border-style:solid;
}
.menup1{
    flex-basis: 70%;
    border-style:solid;
}
.usuariop1{
    flex-basis: 10%;
    border-style:solid;
}



/* parte1secciones menup1*/
.listasmenu{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.seccionesmenu{
    flex-grow: 1;
    border-style:solid;
}



/* Fin parte1secciones menup1*/


/* Fin Seccion 1*/


/*Seccion 2*/
.seccionCentro{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.centroFijo{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: azure;
}
.centroFijoInterior{
    flex-grow: 1;
}
.inicio1{
    flex-basis: 10%;
    border-style:solid;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.crearTweet{
    flex-basis: 90%;
    border-style:solid;
}

.seccionesCentro{
    flex-grow: 1;
}

.fijo{
    flex-basis: 20%;
    border-style:solid;
    padding-bottom: 10px;
}
.contenido{
    flex-basis: 80%;
    border-style:solid;
    background-color: azure;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.contenidoTweets{
    flex-grow: 1;
}
.logoUserPosteador{
    width: 100px;
}
.partesPrincipalesTweet{
    border-style:solid;
    background-color: azure;
    display: flex;
    width: 100%;
    height: 100%;
}
.partesPrincipales{
    flex-grow: 1;
}
.logoPosteadr{
    flex-basis: 20%;
    border-style:solid;
}
.textoPosteador{
    flex-basis: 80%;
    border-style:solid;
}

.primerTweet{
    flex-basis: 50%;
    border-style:solid;
}
.segundoTweet{
    flex-basis: 50%;
    border-style:solid;

}
.caracteristicasTweet{
    display: flex;
    width: 100%;
    height: 100%;
}
.caracteristicas{
    flex-grow: 1;
}


.soloLogo{
    flex-basis: 10%;
    border-style:solid;
}
.EstructuraTweet{
    flex-basis: 90%;
    border-style:solid;
}
.logoUsuarioTweet{
    width: 100px;
}

/* Info Usuario*/
.infoUsuario{
    display: flex;
    width: 100%;
    height: 100%;
}
.infoUser{
    flex-grow: 1;
}
.logo{
    flex-basis: 20%;
    border-style:solid;
}
.nombresUsuario{
    flex-basis: 80%;
    border-style:solid;
}
.partesCrearTweet{
    width: 100%;
    height: 100%    ;
}

/* Fin Inf Usuario*/
.conjuntoNombresUsuario{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.conjunto{
    flex-grow: 1;
}
.nombreFalso{
    flex-basis: 50%;
    border-style:solid;
}
.nombreReal{
    flex-basis: 50%;
    border-style:solid;
}
.parteBotones{
    flex-basis: 10%;
    border-style:solid;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
/*Fin Seccion 2*/


/*Seccion 3*/
.seccionesDerecha{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.parte3secciones{
    flex-grow: 1;
}

.buscadorp3{
    flex-basis: 5%;
    border-style:solid;
}
.tendenciasp3{
    flex-basis: 60%;
    border-style:solid;
    border-radius: 30px;
    background-color: #ff7987;
}
.topp3{
    flex-basis: 35%;
    border-style:solid;
    border-radius: 30px;
    background-color: #ff7987;
}
/* Fin Seccion 3*/

#campo-texto {
    width: 100%;
    height: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  