html{
    height: 100%;
    padding: 0;
    margin: 0px;
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
body{
    height: 100%;
    display: flex;
    
}
.secciones{
    flex-grow: 1;
}

.parte1{
    height: 100%;
    flex-basis: 30%;
    border-style:solid;
}
.parte2{
    height: 100%;
    flex-basis: 40%;
    border-style:solid;
}
.parte3{
    height: 100%;
    flex-basis: 30%;
    border-style:solid;
}



/*Seccion 1*/
.seccionesIzquierda{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.parte1secciones{
    flex-grow: 1;
}

.logop1{
    flex-basis: 20%;
    border-style:solid;
}
.menup1{
    flex-basis: 70%;
    border-style:solid;
}
.usuariop1{
    flex-basis: 10%;
    border-style:solid;
}



/* parte1secciones menup1*/
.listasmenu{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.seccionesmenu{
    flex-grow: 1;
    border-style:solid;
}



/* Fin parte1secciones menup1*/


/* Fin Seccion 1*/


/*Seccion 2*/
.seccionCentro{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.centroFijo{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.centroFijoInterior{
    flex-grow: 1;
}
.inicio{
    flex-basis: 20%;
    border-style:solid;
}
.crearTweet{
    flex-basis: 20%;
    border-style:solid;
}

.seccionesCentro{
    flex-grow: 1;
}

.fijo{
    flex-basis: 20%;
    border-style:solid;
}
.contenido{
    flex-basis: 80%;
    border-style:solid;
}

/* Info Usuario*/
.infoUsuario{
    display: flex;
    width: 100%;
    height: 100%;
}
.infoUser{
    flex-grow: 1;
}
.logo{
    flex-basis: 20%;
    border-style:solid;
}
.nombresUsuario{
    flex-basis: 80%;
    border-style:solid;
}

/* Fin Inf Usuario*/
.conjuntoNombresUsuario{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.conjunto{
    flex-grow: 1;
}
.nombreFalso{
    flex-basis: 50%;
    border-style:solid;
}
.nombreReal{
    flex-basis: 50%;
    border-style:solid;
}


/*Fin Seccion 2*/


/*Seccion 3*/
.seccionesDerecha{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.parte3secciones{
    flex-grow: 1;
}

.buscadorp3{
    flex-basis: 5%;
    border-style:solid;
}
.tendenciasp3{
    flex-basis: 60%;
    border-style:solid;
    border-radius: 30px;
}
.topp3{
    flex-basis: 35%;
    border-style:solid;
    border-radius: 30px;
}
/* Fin Seccion 3*/
